<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/new">New Message</a></li>
    </ul>
    <p>Welcome to <%= title %>!</p>
    <% for (let i = 0; i < messages.length; i++) { %>
    <div>
      <h2><%= messages[i].user %></h2>
      <p style="color:#999"><%= messages[i].added %></p>
      <p><%= messages[i].text %></p>
    </div>
    <% } %>
  </body>
</html>
